.button {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;

  padding: 20px;
  width: 180px;

  border-radius: 10px;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1);
  transition: transform 250ms ease, box-shadow 250ms ease;
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.button:active {
  transform: scale(0.95);
}
.button.good {
  background-color: #b6f9c9;
}
.button.bad {
  background-color: #f9abab;
}
.button.neutral {
  background-color: #a9e1f9;
}
