.wrap {
  display: flex;
  flex-direction: column;
}
.statistics,
.calculated {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  width: 600px;

  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.statItem,
.total,
.ratio {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 28px;
  font-weight: 600;
  /* letter-spacing: 1px; */
  text-transform: capitalize;

  padding: 20px;
  width: 140px;

  border-radius: 10px;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  padding: 10px 20px;
}
.statItem.good {
  background-color: #b6f9c9;
}
.statItem.bad {
  background-color: #f9abab;
}
.statItem.neutral {
  background-color: #a9e1f9;
}
.number {
  padding: 10px;
  font-size: 36px;
  font-weight: 800;
}

.total,
.ratio {
  width: 250px;
  background-color: #f4f1ad;
}
